.container {
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    background: #e2e2e2;
    height: 1px;
    width: 100%;
  }
}


.nav {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 5px 16px;
  background-color: #000000;

  .title {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;

    h1 {
      color: #fff;
      font-size: 28px;
    }

    > img {
      padding-left: 6px;
      padding-top: 5px;
      width: 24px;
      height: 24px;
      font-weight: 600;
    }
  }

  > img {
    width: 26px;
  }
}

