.container {
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    background: #e2e2e2;
    height: 1px;
    width: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 5px 16px;
  background-color: #000000;

  h1 {
    flex: 1;
    width: 100%;
    text-align: center;
    padding-left: 30px;
    color: #fff;
    font-size: 28px;
  }

  img {
    width: 26px;
  }
}
