.container {
  color: #fff;
  padding-top: 40px;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    letter-spacing: 0.2px;
    text-align: center;
  }

  .balance {
    font-size: 1.625rem;
    font-weight: bolder;
    text-align: center;
    margin: 10px 20px 25px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  button {
    display: block;
    width: 82px;
    height: 30px;
    color: #000;
    background: var(--primary-green);
    margin: 0 auto;
  }
}
