.container {
  display: grid;
  grid-template:
    'title' auto
    'fields' auto
    'buttons' auto /
    1fr;

  h1 {
    grid-area: title;
  }
}

.fields {
  grid-area: fields;
  label {
    display: inline-block;
    width: 100px;
    letter-spacing: 0.2px;
  }
  & > div {
    margin-bottom: 12px;
  }
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  button {
    margin-left: 10px;
    color: #fff;
    &:first-child {
      background: var(--cancel);
      color: #000;
    }
  }
}
