.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px 16px;

  h2 {
    margin-bottom: 30px;
  }
}

label {
  display: inline-block;
  width: 125px;
  letter-spacing: 0.2px;
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  button {
    margin-left: 20px;
    padding: 6px 0;
    width: 80px;
    color: #fff;
    &:first-child {
      background: var(--cancel);
      color: #000;
    }

    &:last-child {
      background: var(--primary-green);
      color: #fff;
    }
  }
}
