* {
  outline: none;
  cursor: default;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
}

input { 
  user-select: unset;
}

button {
  border-radius: 2px;
  line-height: 1;
  border: none;
  background: transparent;
  font-size: 0.75rem;
  letter-spacing: 0.2px;
  &:hover {
    filter: brightness(0.9);
  }
  &:disabled {
    filter: grayscale(1);
    color: #666;
    pointer-events: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  --primary-green: #3cc58a;
  --primary-purple: #4544bf;
  --primary-grey: #ededed;
  --warn: #ee9a4d;
  --cancel: #e3e3e3;
  --error: #d50000;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100vh;
  background: #ededed;
}

main {
  flex: 1;
  overflow: auto;
}

footer {
  background: #1b1b1b;
  display: flex;
  align-items: center;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
